h1{
    font-family: "Rubik Dirt", system-ui;
    font-size: 4em;
    text-align: center;
    align-items: center;
}

#description{
    font-family: "Newsreader", serif;
    text-align: center;
    align-items: center;
    font-size: 1.5em;
}

#highScore{
    font-family: "Newsreader", serif;
    text-align: center;
    align-items: center;
    font-size: 1.5em;
}

hr{
    width: 50%;
    height: 2px;
    background-color: black;
}

#box{
    width: 200px;
    height: 200px;
    background-color: rgb(50, 206, 208);
    position: relative;
}