h1 {
  font-family: "Rubik Dirt", system-ui;
  font-size: 4em;
  text-align: center;
  align-items: center;
}

#description {
  font-family: "Newsreader", serif;
  text-align: center;
  align-items: center;
  font-size: 1.5em;
}
/* 
#highScore {
  font-family: "Newsreader", serif;
  text-align: center;
  align-items: center;
  font-size: 1.5em;
} */

hr {
  width: 50%;
  height: 2px;
  background-color: black;
}

#box {
  width: 200px;
  height: 200px;
  background-color: rgb(50, 206, 208);
  position: relative;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: conic-gradient(
    from 210deg,
    rgba(197, 187, 184, 1) 0deg,
    rgba(197, 187, 184, 1) 24deg,
    rgba(184, 181, 184, 1) 24deg,
    rgba(184, 181, 184, 1) 48deg,
    rgba(169, 175, 183, 1) 48deg,
    rgba(169, 175, 183, 1) 72deg,
    rgba(154, 168, 181, 1) 72deg,
    rgba(154, 168, 181, 1) 96deg,
    rgba(139, 161, 179, 1) 96deg,
    rgba(139, 161, 179, 1) 120deg,
    rgba(125, 152, 175, 1) 120deg,
    rgba(125, 152, 175, 1) 144deg,
    rgba(112, 144, 171, 1) 144deg,
    rgba(112, 144, 171, 1) 168deg,
    rgba(101, 135, 166, 1) 168deg,
    rgba(101, 135, 166, 1) 192deg,
    rgba(92, 126, 161, 1) 192deg,
    rgba(92, 126, 161, 1) 216deg,
    rgba(85, 117, 155, 1) 216deg,
    rgba(85, 117, 155, 1) 240deg,
    rgba(81, 108, 148, 1) 240deg,
    rgba(81, 108, 148, 1) 264deg,
    rgba(79, 99, 141, 1) 264deg,
    rgba(79, 99, 141, 1) 288deg,
    rgba(80, 90, 133, 1) 288deg,
    rgba(80, 90, 133, 1) 312deg,
    rgba(84, 83, 125, 1) 312deg,
    rgba(84, 83, 125, 1) 336deg,
    rgba(91, 75, 116, 1) 336deg,
    rgba(91, 75, 116, 1) 360deg
  );
}

@media (width <= 500px) {
  h1 {
    font-size: 2.5em;
  }
  #description , #highScore{
    font-size: 1em;
}
}
